*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;

    background-color: gainsboro;
}
.main{
    color: whitesmoke;

    font-family: serif;

    text-align: center;
}
.blur-img{
    background-image: url('/images/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    height: 900px;
    max-width: 100%;
}
.main-nav{
    background-color: black;

    opacity: 0.65;

    text-align: center;

    font-size: 30px;
    font-family: 'Pacifico', cursive;

    height: 70px;

    word-spacing: 30px;
}
.main-nav ul{
    margin: 0;
    padding: 0;

    height: 50px;

    display: inline;
}
.main-nav li{
    display: inline-block;
    list-style: none;

    padding: 10px 20px 20px 25px;
}
.main-nav a{
    color: whitesmoke;

    text-decoration: none;
}
.main-nav li:hover{
    background-color: #ffffff;
    color: black;

    cursor: pointer;

    transform: scale(0.95);
}
.main-body{
    text-align: center;

    padding: 100px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3.5%;

    font-family: 'sans-serif', serif;
    font-size: 38px;
    font-weight: bold;
    
    color: beige;
}
.main-body h1{
    margin: 0%;
    padding: 0%;

    font-size: 140px;
    font-family: 'Grenze Gotisch', serif;

    color: rgba(255, 255, 255, 1); 

    text-shadow: 5px 5px black;
}
.main-body p{
    color: rgba(255, 255, 255, 1);

    text-shadow: 3px 1px black;

    /*padding: 30px;*/
}
.main-body h1:hover{
    cursor: pointer;
    transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.background{
    filter: blur(4px);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.foreground{
    backdrop-filter: blur(4px);

    box-sizing: border-box;

    border: rgb(190, 186, 186) 6px double;
}
.bg-img{
    background: url('/images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    max-width: 100%;
    height: max-content;
}
.background-menu{
    filter: blur(5px);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.foreground-menu{
    backdrop-filter: blur(10px);
}
.container{
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;

    max-width: 100%;
    max-height: 100%;
}
.menu-heading{
    color: whitesmoke;

    padding: 0px;
    margin: 0%;

    font-family: 'Lobster', serif;
    font-weight: 500;
    font-size: 30px;

    text-align: center;
    text-shadow: 2px 0.5px rgb(0, 0, 0);

    box-sizing: border-box;
}
.section-header{
    text-align: center;

    padding: 20px;

    color: rgb(248, 242, 242);

    font-family: 'Satisfy', serif;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 3px;
}
.section-header:hover{
    cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: left;
    padding: 15px;

    font-family: 'Pacifico', serif;
    font-size: 20px;
}

td{
    color: whitesmoke;
}
th{
    text-shadow: 1px 1px whitesmoke;
    font-size: 25px;
}
.tr-header{
    background-color: rgb(194, 190, 190);
    color: black;

    text-shadow: 2px white;
}
.tr-header:hover{
    cursor: pointer;
}
tr:hover{
    background-color: rgb(194, 190, 190);
}
td:hover{
    color: black;
}
.text-left{
    color: whitesmoke;

    font-family: 'Pacifico', serif;
    font-size: 20px;
}
.menu-section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
.mb{ margin-bottom: 0; }
img { 
    max-width: 100%; 
    border: 5px solid white;
    border-radius: 50%;
}
img:hover{
    box-shadow: 0 0 10px whitesmoke;
}
figure { margin: 0; }
figcaption { text-align: center; }
figcaption span{
    display: block;
    color:whitesmoke;
    font-size: 30px;
}
.item-name{
    margin-top: 20px;
    margin-bottom: 10px;
}
.special-items{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.special-item{
    padding-left: 15px;
    padding-right: 15px;
}
hr{
    width: 60%;
    background-origin: 0.5px solid #ccc;
}
.menu-section-small p{
    color: white;

    font-family: 'Dancing Script', serif;
    font-size: 30px;
    font-weight: 500;
}
.social-link-container{
    display: inline-block;
}
.social-icons{
    text-align: center;
    margin-top: 30px;
}
.social-icons i{
    font-size: 1.2rem;
}
.social-link{
    color: black;
    background-color:#c5ced8 ;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.social-link:hover{
    background-color: #808e9e;
}
.contact-link{
    color: #ccc;
    font-weight: 600;
    text-decoration: none;
}
a{
    transition: all 0.3s ease;
}
.contact-link:hover{
    color: #808e9e;
}
.footer-text {
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }